@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif !important;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

nav {
	min-height: 64px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	background: #525252;
}

.divlogo {
	padding-top: 6px;
	padding-left: 15px;
}
.divlogo img{
	width:73px;
	height:54px;

}

.navItem a {
	display: block;
	text-decoration: none;
	color: #fff;
	margin: 0 10px;
	font-size: 17px;
	padding: 8px 15px;
	border-radius: 50px;
	transition: border 0.4s, background 0.4s;
	border: 1px solid transparent;
}
.navItem.highlight a:hover{
	background-color: white;
	color: #0d6efd;
}
.navItem.highlight a,
.navItem a:hover {
	border: 1px solid white;
	background: #29626d;
}

.aboutCarousel img {
	width: 100%;
	height: auto;
}

.about {
	max-width: 982px;
}

.aboutHeader {
	font-size: 36px;
	margin: 39px 0px 9px 0px;
	font-weight: 700;
	color: #4f4f4f;
}

.ourStory {
	margin-top: 43px !important;
}

.aboutText {
	font-size: 16px;
	color: #646464;
}

.aboutInnerText {
	margin-bottom: 35px;
}

.aboutHeaderDecoration span {
	width: 62px;
	height: 1px;
	margin: 0 8px;
	background: #cccccc;
}

.aboutHeaderDecoration {
	margin-bottom: 41px;
}

.newsletterHeader {
	font-size: 17px;
	color: #353548;
	margin-bottom: 16px;
	margin-top: 47px;
	font-weight: 500;
}

.newsletterForm input {
	outline: none;
	border: 1px solid #565656;
	padding: 11px 22px 13px;
	margin-right: 11px;
	background: transparent;
	font-size: 14px;
	width: 233px;
}

.newsletterForm button {
	outline: none;
	border: none;
	background: #ff7b6d;
	color: #fff;
	padding: 11px 21px 13px 23px;
	font-size: 14px;
}

footer {
	margin-top: 53px;
	padding: 20px 123px 26px 115px;
	background: #111111;
}

footer hr {
	display: block;
	height: 1px;
	background: #424242;
	margin: 19px 0 25px 0;
}

.footerMenuItem a {
	display: block;
	text-decoration: none;
	color: #f1f1f1;
	margin: 0 10px;
}

.footerMenuItem:hover a {
	color: #29626d;
}

.socialMedia a:nth-child(1) {
	margin-right: 20px;
}

.terms {
	color: #9ba0a3;
}

.terms a {
	text-decoration: none;
	color: #9ba0a3;
}

@media screen and (max-width: 1024px) {
	nav {
		flex-direction: column;
		justify-content: center;
	}
	.divlogo {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.navmenu {
		overflow: hidden;
		height: 0;
		width: 100%;
		padding-left: 15px;
		background: #525252;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
		transition: height 0.5s ease-in-out;
		pointer-events: none;
	}

	.navmenu.open {
		height: 400px;
		pointer-events: all;
	}

	.navItem a,
	.navmenu .dropdown {
		margin: 5px 0;
	}
	.navmenu .dropdown {
		margin-left: 10px;
	}

	.tgle_navs {
		position: relative;
		height: 30px;
		width: 30px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.tgle_navs::before {
		content: "";
		position: absolute;
		width: 30px;
		height: 5px;
		background-color: #fff;
		transform: translateY(-10px);
		box-shadow: 0 10px #fff;
		transition: all 0.3s;
	}

	.tgle_navs::after {
		content: "";
		position: absolute;
		width: 30px;
		height: 5px;
		background-color: #fff;
		transform: translateY(10px);
		transition: all 0.3s;
	}

	.tgle_navs.open::before {
		transform: translateY(0) rotate(45deg);
		box-shadow: none;
	}

	.tgle_navs.open::after {
		transform: translateY(0) rotate(-45deg);
	}

	footer {
		padding: 25px;
	}

	.footerMain {
		justify-content: space-evenly !important;
	}

	.footer_Menu {
		flex-direction: column;
	}

	.footerMenuItem {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 575px) {
	.footerMain {
		flex-direction: column !important;
	}

	.footer_Logo {
		margin-bottom: 15px;
	}

	.footer_Menu {
		margin: 15px 0;
	}

	.newsletterForm {
		flex-direction: column;
	}

	.newsletterForm button {
		margin-top: 10px;
	}
}

/* modal css */
.modal-dialog{
    width: 400px;
    margin: 70px auto 0;
}
.modal-dialog{ transform: scale(0.5); }
.modal-dialog{ transform: scale(1); }
.modal-dialog .modal-content{
    text-align: center;
    border: none;
}
.modal-content .close{
    color: #fff;
    background: #646464;
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    line-height: 27px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    left: auto;
    right: 8px;
    top: 8px;
    z-index: 1;
    transition: all 0.3s;
}
.modal-content .close:hover{
    color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.lowerpart{
    padding-top: 15px;
 
}
.lowerpart a{
    text-decoration: none;
}
.lowerpart span{
    color: #646464;
}
.close:focus{ outline: none; }
.modal-body{ padding: 60px 40px 40px !important; }
.modal-body .title{
    color: #026fd4;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 10px;
}
.modal-body .description{
    color: #9A9EA9;
    font-size: 16px;
    margin: 0 0 20px;
}
.modal-body .form-group{
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}
.modal-body .input-icon{
    color: #777;
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 15px;
}
.modal-body .form-control{
    font-size: 17px;
    height: 45px;
    width: 100%;
	padding: 6px 0 6px 50px;
    margin: 0 auto;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}
.form-control::placeholder{
    color: #AEAFB1;
}
.form-group.checkbox{
    width: 130px;
    margin-top: 0;
    display: inline-block;
}
.form-group.checkbox label{
    color: #9A9EA9;
    font-weight: normal;
}
.form-group.checkbox input[type=checkbox]{
    margin-left: 0;
}
.modal-body .forgot-pass{
    color: #7F7FD5;
    font-size: 13px;
    text-align: right;
    width: calc(100% - 135px);
    margin: 2px 0;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease 0s;
}
.forgot-pass:hover{
    color: #9A9EA9;
    text-decoration: underline;
}
.modal-content .modal-body .btn{
    color: #fff;
    background: #1d7a8c!important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 35px;
    border: none;
    display: inline-block;
    transition: all 0.6s ease 0s;
}
.modal-content .modal-body .btn:hover{
    color: #fff;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal-content .modal-body .btn:focus{ outline: none; }
@media only screen and (max-width: 480px){
    .modal-dialog{ width: 95% !important; }
    .modal-content .modal-body{
        padding: 60px 20px 40px !important;
    }
}

