@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif !important;
}
 /* new */
.notifications {
	margin-right: 0;
}
.notifications .badge {
	width: 18px;
	height: 18px;
	font-size: 10px;
	font-weight: bold;
	background: #ff1616;
	padding: 5px;
	top: 5px;
	right: 15px;
}

.notifications {
	padding: 9px 25px 7px 16px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	margin-right: 18px;
	cursor: pointer;
}

.userInfo {
	cursor: pointer;
	height: 64px;
}

.userInfo svg:nth-child(2) {
	margin: 0 14px 0 7px;
}
.userInfoItem{
	cursor: pointer;
	color: #0d6efd;

}
.priceimg img{
	width: 100%;
}  
html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}
/* Navbar css */
nav {
	min-height: 64px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	background: #525252;
}

.divlogo {
	padding-top: 6px;
	padding-left: 15px;
}
.divlogo img{
    width:73px;
    height:54px;
}
.navItem.highlight a:hover{
	background-color: white;
	color: #0d6efd;
}
.navItem a {
	display: block;
	text-decoration: none;
	color: #fff;
	margin: 0 10px;
	font-size: 17px;
	padding: 8px 15px;
	border-radius: 50px;
	transition: border 0.4s, background 0.4s;
	border: 1px solid transparent;
}

.navItem.highlight a,
.navItem a:hover {
	border: 1px solid white;
	background: #29626d;
}
.popover{
	z-index: 1111111;
}
.navItem.active a,
.navItem.navItem.active a:hover {
	border: 1px solid white !important;
	background: transparent !important;
}

.navItem.active a,
.navItem.navItem.active a:hover {
	border: 1px solid white !important;
	background: transparent !important;
}




/* PriceHeader css */
.pricesHeader {
	max-width: 1140px;
}

.pricesHeader hr {
	height: 3px;
	color: #dcdcdc;
	margin: 51px 0 47px;
}

.pricesHeaderText,
.cleaningServicesHeaderText,
.whyHelperlandHeaderText {
	font-size: 36px;
	margin: 39px 0px 9px 0px;
	font-weight: 700;
	color: #4f4f4f;
}

.pricesHeaderDecoration span,
.cleaningServicesHeaderDecoration span,
.whyHelperlandHeaderDecoration span {
	width: 62px;
	height: 1px;
	margin: 0 8px;
	background: #cccccc;
}

.pricesHeaderDecoration,
.cleaningServicesHeaderDecoration,
.whyHelperlandHeaderDecoration {
	margin-bottom: 42px;
}




/* newsletter css */
.newsletterHeader {
	font-size: 17px;
	color: #353548;
	margin-bottom: 16px;
	margin-top: 30px;
	font-weight: 500;
}

.newsletterForm input {
	outline: none;
	border: 1px solid #565656;
	padding: 11px 22px 13px;
	margin-right: 11px;
	background: transparent;
	font-size: 14px;
	max-width: 233px;
}

.newsletterForm button {
	outline: none;
	border: none;
	background: #ff7b6d;
	color: #fff;
	padding: 11px 21px 13px 23px;
	font-size: 14px;
}
/* footer start */
footer {
	margin-top: 53px;
	padding: 20px 123px 26px 115px;
	background: #111111;
}

footer hr {
	display: block;
	height: 1px;
	background: #424242;
	margin: 19px 0 25px 0;
}

.footerMenuItem a:hover{
	color: #1d7a8c;
}
.footerMenuItem a {
	display: block;
	text-decoration: none;
	color: #f1f1f1;
	margin: 0 10px;
}

.socialMedia a:nth-child(1) {
	margin-right: 20px;
}

.terms {
	color: #9ba0a3;
}

.terms a {
	text-decoration: none;
	color: #9ba0a3;
}
/* .media{
	margin-right: auto;
} */
.navSm{
	display: none !important;
}
@media screen and (max-width: 1150px) {
	.mainnav{
		display: none !important;
	}
	.navSm{
		display: flex !important;
	}
	
	.rate:hover::before,
	.cancel:hover::before {
		opacity: 0;
	}

	.rate:hover::after,
	.cancel:hover::after {
		border-left: 6px solid transparent;
	}

	.fullPage {
	
		position: fixed;
		min-height: 100vh;
		width: 100vw;
		top: 0;
		left: 100vw;
		transition: left 0.4s;
	}

	.fullPage.open {
		left: 0;
	}

	.fullPageHidden {
		background: rgba(0, 0, 0, 0);
		width: 50vw;
		height: 100vh;
		transition: background 0.35s;
	}

	.fullPage.open .fullPageHidden {
		background: rgba(0, 0, 0, 0.45);
	}

	.navSmMenu {
		width: 50vw;
		font-size: 17px;
		color: #646464;
	}
	.navSmMenu hr {
		height: 1px;
		background: #e9e9e9;
		opacity: 1;
	}

	.greetings,
	.navSmMenuItem {
		padding: 7px 15px;
	}

	.navSmMenuItem,
	.navSmMenuItem a {
		cursor: pointer;
		text-decoration: none;
		color: #646464;
		transition: color 0.35s;
	}

	.navSmMenuItem.active a,
	.navSmMenuItem.active,
	.navSmMenuItem:hover,
	.navSmMenuItem:hover a {
		color: #1d7a8c;
	}

	.notifications {
		margin-right: 0;
	}

	.navSm {
		background: #525252;
	}

	.tgle_class {
		position: relative;
		height: 30px;
		width: 30px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.tgle_class::before {
		content: "";
		position: absolute;
		width: 30px;
		height: 5px;
		background-color: #fff;
		transform: translateY(-10px);
		box-shadow: 0 10px #fff;
		transition: all 0.3s;
	}

	.tgle_class::after {
		content: "";
		position: absolute;
		width: 30px;
		height: 5px;
		background-color: #fff;
		transform: translateY(10px);
		transition: all 0.3s;
	}
	.address,
	.phone,
	.email {
		margin: 0 50px;
		margin-bottom: 65px;
	}
	
		footer {
			padding: 25px;
		}
	
		.footerMain {
			justify-content: space-evenly !important;
		}
	
		.footer_Menu {
			flex-direction: column;
		}
	
		.footerMenuItem {
			margin-bottom: 10px;
		} 

}
@media screen and (max-width: 1155px){
	.setup-right{

		width: 80vw ;
		margin-top: 30px;
	}

}



  .part1{
	  display: flex;
  }
@media screen and (max-width: 747px){
	
	.selectRoomAndBath{
		/* padding: 20px; */
		display: flex;
		/* flex-direction: column; */
		/* align-items: center; */

	}
	/* .totalTime{
		all: initial;
	} */
	/* .date-input{
		position: absolute;
	} */

	.comment-box{
		padding: 20px;
	}
	.setup-options{
		text-align: center;
	}
	form{
		text-align: center;
	}
	.extraService-checkbox h4{
		text-align: center;
	}
	#custom-checkboxes{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}
@media screen and (max-width: 575px) {
	.selectRoomAndBath{
	flex-direction: column;
    align-items: center;
	}
	.totalTime{

	display: flex;
    flex-direction: column;
	margin-left: 0px;
	margin-top: 20px;
	text-align: center;
	width: 100%;
	margin-right: 50px;

	}
	.media{
		width: 100%;
	
	}
	.schedule-plan input{
		width:100%;
	}
	.datelbl{
		width: 100%;
	}
	.footerMain {
		flex-direction: column !important;
	}

	.footerLogo {
		margin-bottom: 15px;
	}
	.part1{
		flex-direction: column;
	}
	.labl{
		margin-top: 10px;
	}
	.bestCleaningServiceSvg {
		transform: scale(0.85);
	}

	.cleaningServicesCard img,
	.cleaningServicesCard {
		max-width: 100%;
	}

	.footer_Menu {
		margin: 15px 0;
	}

	.newsletterForm {
		flex-direction: column;
	}

	.newsletterForm button {
		margin-top: 10px;
	}
}
/* modal css */
.modal-dialog{
    width: 400px;
    margin: 70px auto 0;
}
.modal-dialog{ transform: scale(0.5); }
.modal-dialog{ transform: scale(1); }
.modal-dialog .modal-content{
    text-align: center;
    border: none;
}
.modal-content .close{
    color: #fff;
    background: #646464;
    font-size: 25px;
    font-weight: 400;
    text-shadow: none;
    line-height: 27px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    position: absolute;
    left: auto;
    right: 8px;
    top: 8px;
    z-index: 1;
    transition: all 0.3s;
}
.modal-content .close:hover{
    color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.lowerpart{
    padding-top: 15px;
 
}
.lowerpart a{
    text-decoration: none;
}
.lowerpart span{
    color: #646464;
}
.close:focus{ outline: none; }
.modal-body{ padding: 60px 40px 40px !important; }
.modal-body .title{
    color: #026fd4;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 10px;
}
.modal-body .description{
    color: #9A9EA9;
    font-size: 16px;
    margin: 0 0 20px;
}
.modal-body .form-group{
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}
.modal-body .input-icon{
    color: #777;
    font-size: 18px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 15px;
}
.modal-body .form-control{
    font-size: 17px;
    height: 45px;
    width: 100%;
    padding: 6px 0 6px 50px;
    margin: 0 auto;
    border: 2px solid #eee;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}
.form-control::placeholder{
    color: #AEAFB1;
}
.form-group.checkbox{
    width: 130px;
    margin-top: 0;
    display: inline-block;
}
.form-group.checkbox label{
    color: #9A9EA9;
    font-weight: normal;
}
.form-group.checkbox input[type=checkbox]{
    margin-left: 0;
}
.modal-body .forgot-pass{
    color: #7F7FD5;
    font-size: 13px;
    text-align: right;
    width: calc(100% - 135px);
    margin: 2px 0;
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease 0s;
}
.forgot-pass:hover{
    color: #9A9EA9;
    text-decoration: underline;
}
.modal-content .modal-body .btn{
    color: #fff;
    background: #1d7a8c!important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 35px;
    border: none;
    display: inline-block;
    transition: all 0.6s ease 0s;
}
.modal-content .modal-body .btn:hover{
    color: #fff;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal-content .modal-body .btn:focus{ outline: none; }
@media only screen and (max-width: 480px){
    .modal-dialog{ width: 95% !important; }
    .modal-content .modal-body{
        padding: 60px 20px 40px !important;
    }
}



/* extra000 */
.payment-small{
	display: none;
}
.setup {
	display: flex;
	margin-top: 49px;
	justify-content: center;
	flex-wrap: wrap;
  }
  
  .setup-left{
	width:50%;
  }
  
  .setup-options{
	  cursor: pointer;
	width:100%;
  }
  .setup-options ul {
	display: flex;
	width:100%;
	padding: 0;
	background: #f3f3f3;
	margin: 0;
	
  }
  .add-color{
	background:#1D7A8C;
	color:white !important;
  }
  .add-color-noarrow{
	background-color: #1D7A8C;
	color:white !important;
  }
  .setup-options li {
	width:25%;
	position: relative;
	list-style: none;
	display: inline-block;
	padding: 21px 9px 21px 9px;
	font-size: 18px;
	color: #646464;
	border-right:solid 1px white;
  }
  .favourite-worker{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top:20px;
	
  }
  
  
  .favourite-worker-img{
	border:solid 1px #C8C8C8;
	border-radius: 60px;

	width:71px;
	height:71px;
	background-color:#f1f1f1;
  }
  
  .add::after{
	content: '';
	position: absolute;
	right:40px;
	 bottom:-10px;
	width: 20px;
	height: 20px;
	background-color:#1D7A8C;
	transform: rotate(45deg);
	z-index: -100;
	box-shadow: -4px -4px 6px #00000040;
  }
  
  /* pin code checker */
  
  .pincode-check{
	margin-top:20px;
	text-align: left;
  }
  
  .pin-label{
	color:#4f4f4f;
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
  }
  
  .pin-btn{
	background-color:#1D7A8C;
	color:white;
	border:none;
	height: 46px;
	padding-left:20px;
	padding-right:20px;
	border-radius: 23px;
	margin-left:10px;
  }
  
  
  
  .pincode-input-box{
	height:46px;
	color:#646464;
	border:solid 1px #dedddd;
	border-radius: 4px;
	padding:10px 5px;
	width:40%;
	font-size: 16px;
  }
  
  /* Address box */
  
  #address-list{

	color:#4f4f4f;
	text-align: left;
	margin-top:20px;
  }
  
  #address-list form label{
	font-weight: bold;
	cursor: pointer;
  }
  .favourite-worker  label:hover{
	  background-color: #4f4f4f !important;
	  color:white !important;
  }
  
  .address-check-box{
	display: flex;
	justify-content:flex-start;
	align-items: center;
	border:solid 1px #C8C8C8;
	padding:10px;
	margin-top:20px;
	border-radius: 5px;
   
  }
  
  
  .address-check-box p{
	text-align: left;
	margin:0;
  }
  
  .address-check-box span:last-child{
	margin-left:20px;
  }
  .address-check-box1{
	display: flex;
	justify-content:flex-start;
	align-items: center;
	border:solid 1px #C8C8C8;
	padding:10px;
	margin-top:20px;
	border-radius: 5px;
   
  }
  
  
  .address-check-box1 p{
	text-align: left;
	margin:0;
  }
  
  .address-check-box1 span:last-child{
	margin-left:20px;
  }
  .add-address-btn{
	color:#1D7A8C;
	border:solid 2px #1d7a8c;
	background: white;
	height:46px;
	padding-left:20px;
	padding-right:20px;
	margin-top:20px;
	border-radius: 23px;
	font-weight: 500;
  }
  
  .favourite-title{
	font-size:16px;
	font-weight: bold;
	margin-top:30px;
  }
  
  .favourite-box{
	padding-top:30px;
	padding-bottom:30px;
	border-bottom: solid 1px #C8C8C8;
	border-top: solid 1px #C8C8C8;
  }
  
  
  
  #setup-service {
	text-align: center;
	margin-top: 20px;
  }
  
  #setup-service h2 {
	color: #4f4f4f;
	font-size: 36px;
  }
  
  .schedule-plan {

	text-align: left;
	margin-top: 30px;
	height: fit-content;
  }
  
  .schedule-plan label {
	color: #4f4f4f;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .schedule-plan input {
	font-size: 16px;
	color: #646464;
	border: solid 1px #e1e1e1;
	background: white;
	border-radius: 3px;
	padding: 9px;
  }
  
  .schedule-plan select {
	font-size: 16px;
	color: #646464;
	border: solid 1px #e1e1e1;
	background: white;
	border-radius: 3px;
	margin-left: 0px;
	margin-right: 5px;
	padding: 11px;
  }
  
  .selectRoomAndBath {
	display: flex;
	/* border-top: solid 1px #e1e1e1; */
	border-bottom: solid 1px #e1e1e1;
	/* margin-top: 30px;
	padding-top: 35px; */
	padding-bottom: 30px;
  }
  
  /* .selectRoomAndBath input[type="date"] {
	border: none;
	padding: 0px;
  } */
  
  .date-input {
	/* border: solid 1px #e1e1e1;
	padding: 10px 5px;
	text-align: center;
	height: 46px;
	border-radius: 3px; */
	margin-right: 10px;
  }
  
  .date-input img {
	margin-left: 10px;
  }
  
  .totalTime {
	margin-left: 50px;
  }
  
  .line {
	display: inline-block;
	background-color: #cccccc;
	width: 62px;
	margin: 0 9px;
	height: 2px;
  }
  
  .extraService-checkbox{
	margin-top:30px;
	color:#4F4F4F;
  }
  .extraService-checkbox h4{
	margin-bottom:25px;
   
  }
  
  #comment{
	width:100%;
	height: 70px;
  }
  
  .have-pet{
	font-weight: normal !important;
	font-size: 16px !important;
  }
  
  .comment-box{
	padding-top:30px;
	padding-bottom:30px;
	border-bottom: solid 1px #C8C8C8;
  }
  
  .continue{
	background: #1D7A8C;
	color:#ffff;
	margin-top:20px;
  border:none;
   border-radius: 23px;
   padding:10px 31px 12px 29px;
   
   font-weight: bold;
   height:46px;
   text-align: center;
  }
  
  .complete{
	background: #1D7A8C;
	color:#ffff;
	margin-top:20px;
  border:none;
   border-radius: 23px;
   padding:10px 31px 12px 29px;
   
   font-weight: bold;
   height:46px;
   text-align:center;
  }
  
  #custom-checkboxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 25px;
	border-bottom: 1px solid #e1e1e1;
  }
  #custom-checkboxes .checkbox{
	width: 108px;
	text-align: center;
	margin: 0 15px;
  }

  #custom-checkboxes .checkbox label{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 108px;
	height: 108px;
	/* border: 1px solid #C8C8C8 ; */
	border-radius: 50%;
	position: relative;
	cursor: pointer;
  }
  .label1{
	border: 1px solid #C8C8C8 ;
  }
  .label2{
	border: 1px solid #C8C8C8 ;
}
.label3{
	border: 1px solid #C8C8C8 ;
}
.label4{
	border: 1px solid #C8C8C8 ;
}
.label5{
	border: 1px solid #C8C8C8 ;
}
  /* label{
	
	border: 1px solid #C8C8C8 ;
  } */
  #custom-checkboxes .checkbox label:before {
	background-color: white;
	color: white;
	content: " ";
	display: block;
	border-radius: 50%;
	border: 1px solid #1d7a8c;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 28px;
	transition-duration: 0.4s;
	transform: scale(0);
  }
  
  input[type=checkbox].htmlcheckbox{
	display: none;
  }
  
 
  

  
  :checked + label img {
	transform: scale(0.9);
	/* box-shadow: 0 0 5px #333; */
	z-index: -1;
  }
  
  /* add address  */
  
  .add-address-box{
	border:solid 1px #e1e1e1;
	border-radius: 5px;
	width:100%;
	margin-top:20px;
	background: #F3F3F3;
	display: none;
  }
  .address-taker-box{
   
	display: flex;
	justify-content:space-evenly;
	margin:20px;
	flex-wrap: wrap; 
	color:#646464;
	
  }
  
  #tel2{
	width:300px;
  }
  
  
  .address-taker-box input{
	width:300px;
	height:46px;
	border: solid 1px #C8C8C8;
	color: #646464;
	padding:10px;
	border-radius: 5px;
  }
  
  .address-taker-box input[type="tel"]{
	border: none;
   border-top-left-radius:0;
   border-bottom-left-radius:0;
	width:259px;
  
  }
  .tel-icon{
	padding:5px;
	
  }
  .tel-box{
	border:solid 1px #C8C8C8;
	border-radius: 5px;
  
  
  }
  
  .save-btn{
	height:42px;
	background:#1D7A8C;
	border-radius: 23px;
	padding-left:20px;
	padding-right:20px;
	border:none;
	color:white;
	margin-left:50px;
	margin-bottom:20px;
	margin-right:10px;
  }
  
  .clear-btn{
	height:42px;
	background:white;
	border:solid 1px #C8C8C8;
	color:#646464;
	border-radius: 23px;
	padding-left:20px;
	padding-right:20px;
  }
  
  
  /* make payment */
  
  
  #make-payment{
	margin-top:20px;

  }
  
  #make-payment h4{
	color:#4F4F4F;
	font-size: 18px;
	text-align: left;
  }
  
  .make-payment-input{
	border-top:none;
	border-left:none;
	border-right:none;
	margin-top:20px;
	margin-bottom:20px;
	border-radius: 0;
  }
  
  .payment-condition input[type="checkbox"]{
	margin-top:5px;
	margin-right:10px;
  }
  
  .payment-condition{
	text-align: left;
	width:100%;
	display:flex;
	align-items: flex-start;
	font-size:18px;
	padding-bottom:20px;
	border-bottom:solid 1px #8d8d8d;
  }
  
  .payment-condition a{
	color:#1d7a8c;
  }
  
  /* setup right  */
  
  .setup-right {
	margin-left: 29px;
	width: 24%;
  }
  
  .price-card {
	font-size: 16px;
	color: #4f4f4f;
	border: solid 1px #00000059;
	box-shadow: 0px 0px 7px #00000059;
  }
  
  .price-card p {
	text-align: left;
	margin-left: 18px;
	margin-top: 20px;
  }
  
  .pay-list span,
  .details span,
  .duration span {
	display: block;
  }
  
  .price-card h3 {
	color: #ffffff;
	font-size: 18px;
	background: #1d7a8c;
	padding: 21px 9px 21px 22px;
	height: 74px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: normal;
  }
  .price-card h4 {
	margin-top: 25px;
	text-align: left;
	margin-left: 18px;
  }
  .duration {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-right: 18px;
	margin-left: 18px;
	padding-bottom: 18px;
	border-bottom: solid 1px #e1e1e1;
  }
  
  .duration p {
	margin: 0px;
  }
  
  .totalhour {
	display: flex;
	justify-content: space-between;
	margin: 18px;
  }
  
  .pay-list {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-right: 18px;
	margin-left: 18px;
	padding-bottom: 18px;
  }
  
  .pay-list p {
	margin: 0;
  }
  
  .cover {
	margin-top: 17px;
	border-bottom: solid 1px #e1e1e1;
  }
  
  .condition {
	font-size: 14px;
	color: #646464;
	margin-top: 0px !important;
  }
  .seeWhatInclude {
	background: #f3f3f3;
	color: #8d8d8d;
	font-size: 14px;
	padding: 18px;
  }
  .seeWhatInclude p {
	margin: 0px !important;
  }
  
  
  
  
  
  /* Question section */
  .question {
	text-align: center;
	color: #4f4f4f;
	font-size: 20px;
	font-weight: bold;
	margin-top: 26px;
	margin-bottom: 22px;
  }
  .accordion-item:first-of-type .accordion-button {
	border-top-left-radius: none;
	border-top-right-radius: none;
  }
  .accordion{
	text-align:left;
  }
  .accordion-item {
	background-color: #fff;
	border: none;
  }
  .question-list {
	border-bottom: solid 1px #e1e1e1;
  }
  .accordion-button {
	color: #4f4f4f;
	
	padding:15px 0;
  }
  .accordion-button:focus {
	z-index: 3;
	border-color: none;
	outline: 0;
	box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
	color: #4f4f4f;
	background-color: white;
	box-shadow: none;
  }
  
  .accordion-button::after,
  .accordion-button:not(.collapsed)::after {
	background-image: none;
  }
  
  .right-icon {
	/* margin-bottom: 5px; */
	margin-right: 7px;
  }
  .accordion .collapse.show {
	background-color:white;
	text-align: left;
	color:#4f4f4f
  }
  
  .more-help{
	color:#1D7A8C;
	font-weight: bold;
	text-align: left;
	font-size:16px;
  }
  .select{
	  padding: 10px;
	  border: 1px solid #4f4f4f;
	  width: 5rem;
  }
  input[type="radio"][name="fav_id"]{
	  display: none;
  }
  input[type="radio"][name="fav_id"]:checked + label{
  background-color:#4f4f4f ; 
  color:white;
 }
  /* newsetter */
  
  #newuser {
	text-align: center;
	margin-top: 54px;
	margin-bottom: 53px;
  }
  
  #newuser h3 {
	font-size: 18px;
	color: #353548;
	margin-bottom: 16px;
  }
  
  .newsetter {
	border-radius: 20px;
	border: solid 0.3px #565656;
	height: 40px;
	width: 233px;
	padding: 13px;
	font-size: 13px;
	margin-bottom: 10px;
  }
  
  .btn-submit {
	background-color: #ff7b6d;
	border-radius: 20px;
	border: none;
	color: white;
	font-weight: normal;
	font-size: 15px;
	width: 88px;
	height: 40px;
	margin-left: 11px;
  }

  @media (max-width: 503px) {
	.footer-menu li {
	  display: block;
	  text-align: center;
	  padding: 5px;
	}
	.favourite-worker{
		flex-direction: column !important;
	}
  }
  
  .policy {
	color: #9ba0a3;
	font-size: 14px;
	font-weight: normal;
  }
  
  a {
	color: #9ba0a3;
	text-decoration: none;
  }
  
  #responsivePaySum{
	display: none;
	position: fixed;
	bottom: -1px;
	z-index: 20;
	width: 100%;
	text-align: center;
  }
  
  #responsivePaySum button{
	padding: 15px 30px;
	font-size: 18px;
	color: #fff;
	background-color: #1d7a8c;
	border-radius: 50px 50px 0 0;
	border: 0;
  }
  
  #PS-modal-head{
	background-color: #1d7a8c;
	padding: 20px 15px;
  }
  
  #PSLabel{
	color: #fff;
  }
  #modal-timeandbed{
	display: block;
	margin:0 0 25px;
  }
  
  #modal-timeandbed p{
	margin: 2px 0;
  }
  
  #modal-total-time{
	border-top: 1px solid #00000022;
	padding-top: 5px;
  }
  
  #modal-service-cost{
	border: 1px solid #00000059;
	border-left: 0;
	border-right: 0;
  }
  
  #modal-call-modal{
	padding:0 22px;
	background-color: #F3F3F3;
	
  }
  
  #modal-call-modal a{
	color: #8d8d8d;
	line-height: 46px;
  }
  
  #modal-question-title h3{
	font-size: 20px;
	text-align: center;
  }
  #modal-question-title{
	padding-top: 20px;
  }
  
  #book-questions #question-main{
	margin-top: 5px;
  }
  
  #book-questions #question-main .faq-qa{
	padding: 17px 0;
	margin: 0;
	border-bottom: 1px solid #00000022;
  }
  
  #book-questions #question-main .faq-qa p{
	margin: 0;
	padding-left: 18px;
  }
  
  #book-questions #question-main .faq-ans{
	padding:17px 0 0 17px;
  }
  #modal-book-questions .faq-ans{
	padding: 0;
  }
  
  #modal-book-questions p{
	padding-left: 7px;
  }
  
  #paymentSummaryModal .modal-header{
	background-color: #1d7a8c;
	padding: 20px;
  }
  
  #paymentSummaryModal .modal-header h5{
	color: #fff;
	font-size: 20px;
  }
  
  #for-more-help {
	margin-top: 18px;
  }
  
  #for-more-help a{
	font-size: 16px;
	color: #1D7A8C;
	font-weight: 600;
  }
  
  #modal-book-questions .faq-qa{
	margin-top: 15px;
  }
  
  #modal-datetime div, #modal-service div, #modal-invoice div{
	display: flex;
	flex-direction: column;
	width: 47%;
	margin-bottom: 10px;
  }
  
  .flex-column{
	display: flex;
  }
  .flex-column div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2px;
  }
  
  #modal-datetime, #modal-service, #modal-invoice{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 7px;
  }
  
  .flex-column{
	display: flex;
	padding: 22px 0;
  }
  
  .flex-column b{
	font-size: 18px;
	margin-bottom: 8px;
	color: #646464;
  }
  
  .collapse.show {
	background-color:white;
  }
  
  @media (max-width:1030px){
	.setup-right{
	  display: none;
	 
	}
	.payment-small{
		display: block;
		margin-top: 57px;
	}
	.h2{
		margin: 0;
		background: #1d7a8c;
		color: #fff;
		font-size: 18px;
		line-height: 22px;
	}
	.price-card{
		margin: -64px -40px 0px -41px;
	}
	.modal-header{
	    margin: 0;
    background: #1d7a8c;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
	}
	.modal-body {
		padding: 0px;
		/* padding: 60px 40px 40px !important; */
	}
	.btn-primary{
		border-radius: 50px;
		color: #fff;
	
		padding: 14px;
	}
	.btn-primary:focus{
		
		box-shadow:none;
	}
	.setup{
	  width:80%;
	  margin:20px auto;
	}
	#responsivePaySum{
	  display: block;
	}
	#total-pay{
	  color: #1D7A8C;
	  font-size: 20px;
	  font-weight: 500;
  }
  #amount{
	color: #1D7A8C;
	font-size: 42px;
	font-weight: 700;
  }
  
  
	.setup-left{
	  width:100%;
	  
	}
  }
  
  
  
  @media (max-width:687px){
	.setup-options{
	  width: 100%;
	}
	.setup-options li{
	  text-align: center;
	  padding:10px 4px;
	}
	.setup-options li img{
	  display:block;
	  margin:auto;
	  
	}
  }
  
  @media (max-width:658px){
	.setup-options li span{
	  display: none;
	}
	  
	
  
	
   
	  .Button{
		text-align: center;
	  }
  
   
  }
  /* body {
	background: #ececec;
} */
    /*Hidden class for adding and removing*/
    .lds-dual-ring.hidden {
        display: none;
    }

    /*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
		width: 100vw;
		height: 100vh;
		
        background: rgba(13, 13, 13, 0.4);
        z-index: 9999999999999;
        opacity: 1;
        transition: all 0.5s;
    }
    
    /*Spinner Styles*/
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-dual-ring:after {
        content: " ";
		top:50%;
        display: block;
        width: 64px;
        height: 64px;
        margin: 20% auto;
        border-radius: 50%;
        border: 5px solid #fff;
        border-color: #1d7a8c transparent #1d7a8c transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
 